@model X.PagedList.IPagedList<BlogWebSite.Models.BlogViewModel>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4 mb-4">
            <div class="card">
                <img class="card-img-top img-fluid" alt="..." src="data:image/png;base64, @item.Poster" style="height:250px">

                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@(item.Content.Length > 80 ? item.Content.Substring(0, 80)+"..." : item.Content)</p>
                    <a asp-controller="Blog" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">Daha Fazlası</a>
                </div>
            </div>
        </div>
    }
</div>

<br />

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))